<h3>Ruby on Rails</h3>
<h4>Oznaczenia</h4>
<div class="shadow-none p-3 bg-light rounded"><samp>$ [polecenie]</samp> - Jest to komenda którą należy wpisać w terminalu( charakteryzuje się ona znakiem <span style="font-size: 20px;">$</span> )</div>
<div class="shadow-none p-3 mb-5 bg-light rounded"><samp><code>[kod]</code></samp> - jest to kod, który trzeba wpisać w danym pliku( charakteryzuje się on brakiem <span style="font-size: 20px;">></span> i kolorem czerwonym)</div>

<h4>Przewodniki</h4>
<div class="card">
  <div class="card-header">
    Nowa aplikacja Rails
  </div>
  <div class="card-body">
    <h5 class="card-title">Tworzenie pierwszej pustej aplikacji w Ruby on Rails</h5>
    <p class="card-text">Tworzymy pustą aplikację i używamy biblioteki Bootstrap</p>
    <%= link_to "Idź do…", create_app_rails_url, class: "btn btn-primary" %></a>
  </div>
</div>